<div class="tours-container">
  <h2>All Tours</h2>

  <div class="tours-grid">
    <mat-card *ngFor="let tour of tours" class="tour-card">
      <mat-card-header>
        <mat-card-title>{{ tour.name }}</mat-card-title>
        <mat-card-subtitle>Status: {{ tour.status | titlecase }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{ tour.description }}</p>
        <p><strong>Price:</strong> {{ tour.price | currency:'RSD':'symbol':'1.0-0' }}</p>
        <p><strong>Difficulty:</strong> {{ tour.difficulty }}</p>
        <p><strong>Tags:</strong> <span class="tags" *ngFor="let tag of tour.tags">{{ tag }}</span></p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent" 
        *ngIf="tour.id" 
        (click)="openReviews(tour.id)">Reviews</button>
         <button mat-raised-button color="primary" (click)="viewMap(tour.id!)">View map</button>
        <button mat-raised-button color="warn" (click)="buyTour(tour.id)">Buy</button>

      </mat-card-actions>
    </mat-card>

     <button mat-icon-button color="primary" (click)="goToCart()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  </div>
</div>
