<div class="container">
      <div id="map" style="height: 400px; margin-bottom: 20px;"></div>

      <div class="keypoint-data">


 <form class="keypoint-form" (ngSubmit)="editingKeyPoint ? updateKeyPoint() : addKeyPoint()">
  <h2>{{ editingKeyPoint ? 'Edit Key Point' : 'Add Key Point' }}</h2>

  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="currentKeyPoint.name" name="name" required>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="currentKeyPoint.description" name="description"></textarea>
  </mat-form-field>

  <!-- <mat-form-field class="full-width">
    <mat-label>Image URL</mat-label>
    <input matInput [(ngModel)]="currentKeyPoint.imageUrl" name="imageUrl">
  </mat-form-field> -->
  <label>Upload Image</label>
<input type="file" (change)="onFileSelected($event)">


  <p>Click on the map to {{ editingKeyPoint ? 'update position' : 'select location' }}:</p>

  <button mat-raised-button color="primary" type="submit">
    {{ editingKeyPoint ? 'Update Key Point' : 'Add Key Point' }}
  </button>
  <button *ngIf="editingKeyPoint" mat-button type="button" (click)="cancelEdit()">Cancel</button>
</form>



  <div class="table-div">
  <h3>Existing Key Points</h3>
  <table mat-table [dataSource]="keyPoints" class="mat-elevation-z8 full-width">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let kp"> {{kp.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let kp"> {{kp.description}} </td>
    </ng-container>

    
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef> Latitude </th>
      <td mat-cell *matCellDef="let kp"> {{kp.latitude}} </td>
    </ng-container>
        <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef> Longitude </th>
      <td mat-cell *matCellDef="let kp"> {{kp.longitude }} </td>
    </ng-container>

    <ng-container matColumnDef="image">
  <th mat-header-cell *matHeaderCellDef> Image </th>
  <td mat-cell *matCellDef="let kp">
    <img *ngIf="kp.imageUrl" [src]="kp.imageUrl" alt="{{kp.name}}" width="80" height="60" style="object-fit: cover; border-radius: 6px;" />
  </td>
</ng-container>


        <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>  </th>
   <td mat-cell *matCellDef="let kp">
  <button mat-button (click)="editKeyPoint(kp)">Edit</button>
</td>
    </ng-container>

        <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let kp"> <button mat-button (click)="kp && deleteKeyPoint(kp)">Delete</button> </td>
    </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="['name', 'description', 'latitude', 'longitude', 'image','edit', 'delete']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'description', 'latitude', 'longitude', 'image','edit', 'delete'];"></tr>
  </table>
  </div>
  </div>
</div>
